/* @settings

name: bottom-blank-space
id: bottom-blank-space
settings:
    - 
        id: bottom-space
        title: Adjust the blank space at the bottom of the document
        title.zh: 调节文档底部空白空间
        type: variable-text
        default: 0px

*/

body {
    --bottom-space: 0px;
}

body :is(.markdown-preview-view, .markdown-rendered) .markdown-preview-sizer,
body:not(.plugin-cm-typewriter-scroll) .cm-s-obsidian .cm-content {
    padding-bottom: var(--bottom-space) !important;
}

/* Credit: https://github.com/whyt-byte/Blue-Topaz_Obsidian-css */