body:not(.is-mobile):not(.is-popout-window).tab-autohide.mod-macos.is-hidden-frameless:not(.is-fullscreen):has(.mod-top>.workspace-tab-header-container:hover, .titlebar:hover) .mod-left-split .mod-top-left-space .workspace-tab-header-container,
body:not(.is-mobile):not(.is-popout-window).tab-autohide.mod-macos.is-hidden-frameless:not(.is-fullscreen):has(.mod-top>.workspace-tab-header-container:hover, .titlebar:hover) .workspace:not(.is-left-sidedock-open) .sidebar-toggle-button.mod-left {
    transition: height var(--anim-in), opacity var(--anim-in), margin-left var(--anim-out);
}

body:has(.mod-top>.workspace-tab-header-container:hover, .titlebar:hover) .mod-left-split .mod-top-left-space .workspace-tab-header-container,
body:has(.mod-top>.workspace-tab-header-container:hover, .titlebar:hover) .workspace:not(.is-left-sidedock-open) .sidebar-toggle-button.mod-left {
    transition: height var(--anim-in), opacity var(--anim-in), margin-left var(--anim-out);
}