body {
    /*
      List of variables is placed in body rather than :root so 
      that we can	combine all property types including colors
      and sort alphabetically to maximize readability in
      the compiled app.css file.
      ----------------------------------------------------- */
    /* Cursor */
    --cursor: pointer;
    --cursor-link: pointer;
    /* Headings */
    --heading-formatting: var(--text-faint);
    --h1-color: inherit;
    --h2-color: inherit;
    --h3-color: inherit;
    --h4-color: inherit;
    --h5-color: inherit;
    --h6-color: inherit;
    --h1-font: inherit;
    --h2-font: inherit;
    --h3-font: inherit;
    --h4-font: inherit;
    --h5-font: inherit;
    --h6-font: inherit;
    --h1-line-height: 1.2;
    --h2-line-height: 1.2;
    --h3-line-height: 1.3;
    --h4-line-height: 1.4;
    --h5-line-height: var(--line-height-normal);
    --h6-line-height: var(--line-height-normal);
    --h1-size: 1.5em;
    --h2-size: 1.425em;
    --h3-size: 1.35em;
    --h4-size: 1.275em;
    --h5-size: 1.2em;
    --h6-size: 1.125em;
    --h1-style: normal;
    --h2-style: normal;
    --h3-style: normal;
    --h4-style: normal;
    --h5-style: normal;
    --h6-style: normal;
    --h1-variant: normal;
    --h2-variant: normal;
    --h3-variant: normal;
    --h4-variant: normal;
    --h5-variant: normal;
    --h6-variant: normal;
    --h1-weight: 700;
    --h2-weight: 675;
    --h3-weight: 650;
    --h4-weight: 625;
    --h5-weight: 600;
    --h6-weight: 575;
}

.theme-light {
    color-scheme: light;
    --highlight-mix-blend-mode: darken;
    --mono-rgb-0: 255, 255, 255;
    --mono-rgb-100: 0, 0, 0;
    --color-red-rgb: 228, 55, 75;
    --color-red: #E4374B;
    --color-green-rgb: 12, 181, 79;
    --color-green: #0cb54f;
    --color-orange: #d96c00;
    --color-yellow: #BD8E37;
    --color-cyan: #2db7b5;
    --color-blue: #086DDD;
    --color-purple: #876be0;
    --color-pink: #C32B74;
    --color-base-00: #ffffff;
    --color-base-05: #fcfcfc;
    --color-base-10: #fafafa;
    --color-base-20: #f6f6f6;
    --color-base-25: #e3e3e3;
    --color-base-30: #e0e0e0;
    --color-base-35: #d4d4d4;
    --color-base-40: #bdbdbd;
    --color-base-50: #ababab;
    --color-base-60: #707070;
    --color-base-70: #5a5a5a;
    --color-base-100: #222222;
    --color-accent-hsl: var(--accent-h),
        var(--accent-s),
        var(--accent-l);
    --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 2.5%));
    --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 5%));
    --background-secondary-alt: var(--color-base-05);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
    --background-modifier-cover: rgba(220, 220, 220, 0.4);
    --text-highlight-bg: rgba(255, 208, 0, 0.4);
    --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
    --input-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12),
        0 2px 3px 0 rgba(0, 0, 0, .05),
        0 1px 1.5px 0 rgba(0, 0, 0, .03),
        0 1px 2px 0 rgba(0, 0, 0, .04),
        0 0 0 0 transparent;
    --input-shadow-hover: inset 0 0 0 1px rgba(0, 0, 0, 0.17),
        0 2px 3px 0 rgba(0, 0, 0, .1),
        0 1px 1.5px 0 rgba(0, 0, 0, .03),
        0 1px 2px 0 rgba(0, 0, 0, .04),
        0 0 0 0 transparent;
    --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.028),
        0px 3.4px 6.7px rgba(0, 0, 0, .042),
        0px 15px 30px rgba(0, 0, 0, .07);
    --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
        0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
        0px 30px 90px rgba(0, 0, 0, 0.2);
}

.theme-dark {
    color-scheme: dark;
    --highlight-mix-blend-mode: lighten;
    --mono-rgb-0: 0, 0, 0;
    --mono-rgb-100: 255, 255, 255;
    --color-red-rgb: 251, 70, 76;
    --color-red: #fb464c;
    --color-green-rgb: 68, 207, 110;
    --color-green: #44CF6E;
    --color-orange: #E9973F;
    --color-yellow: #E0DE71;
    --color-cyan: #53DFDD;
    --color-blue: #027aff;
    --color-purple: #a882ff;
    --color-pink: #FA99CD;
    --color-base-00: #1e1e1e;
    --color-base-10: #242424;
    --color-base-20: #262626;
    --color-base-25: #2a2a2a;
    --color-base-30: #363636;
    --color-base-35: #3F3F3F;
    --color-base-40: #555;
    --color-base-50: #666;
    --color-base-60: #999;
    --color-base-70: #bababa;
    --color-base-100: #dadada;
    --color-accent-hsl: var(--accent-h),
        var(--accent-s),
        var(--accent-l);
    --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 3.8%));
    --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 3.8%));
    --background-modifier-form-field: var(--color-base-25);
    --background-secondary-alt: var(--color-base-30);
    --interactive-normal: var(--color-base-30);
    --interactive-hover: var(--color-base-35);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-cover: rgba(10, 10, 10, 0.4);
    --text-highlight-bg: rgba(255, 208, 0, 0.4);
    --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
    --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
    --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
        0 2px 4px 0 rgba(0, 0, 0, .15),
        0 1px 1.5px 0 rgba(0, 0, 0, .1),
        0 1px 2px 0 rgba(0, 0, 0, .2),
        0 0 0 0 transparent;
    --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
        0 2px 3px 0 rgba(0, 0, 0, .3),
        0 1px 1.5px 0 rgba(0, 0, 0, .2),
        0 1px 2px 0 rgba(0, 0, 0, .4),
        0 0 0 0 transparent;
    --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121),
        0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
        0px 15px 30px rgba(0, 0, 0, 0.3);
    --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
        0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
        0px 30px 90px rgba(0, 0, 0, 0.2);
}



/* scrollbar */
body:not(.native-scrollbars) ::-webkit-scrollbar {
    background-color: transparent !important;
}

body:not(.native-scrollbars) ::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
}

body:not(.native-scrollbars) ::-webkit-scrollbar-track {
    background-color: transparent !important;
}

body:not(.native-scrollbars) ::-webkit-scrollbar-thumb {
    background-color: transparent !important;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-width: 3px 4px 3px 3px;
    min-height: 45px;
}

body:not(.native-scrollbars) :hover::-webkit-scrollbar-thumb {
    background-color: var(--background-modifier-border) !important;
}


/*input focus effect*/

textarea:focus,
input[type='text']:focus,
input[type='search']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
textarea:focus-visible,
input[type='text']:focus-visible,
input[type='search']:focus-visible,
input[type='email']:focus-visible,
input[type='password']:focus-visible,
input[type='number']:focus-visible {
    border: 1px solid var(--color-accent);
    box-shadow: 0 0 0 4px var(--background-modifier-active-hover);
}


input.prompt-input:hover,
input.prompt-input:focus,
input.prompt-input:focus-visible {
    border: none;
    border-bottom: 1px solid var(--background-secondary);
    box-shadow: none;
}

/*header colorful line effect*/

.is-live-preview .HyperMD-header .cm-header.cm-header-1 {
    padding-left: 6px;
}

.is-live-preview .HyperMD-header-1::before {
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    top: 5px;
    content: " ";
    display: inline-block;
    width: 3px;
    height: 16px;
    border-radius: var(--radius-m);
    background-color: var(--color-red);
}

.markdown-preview-view h1::before {
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 6px;
    position: relative;
    content: " ";
    display: inline-block;
    width: 3px;
    height: 16px;
    border-radius: var(--radius-m);
    background-color: var(--color-red);
}


.is-live-preview .HyperMD-header .cm-header.cm-header-2 {
    padding-left: 6px;
}

.is-live-preview .HyperMD-header-2::before {
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    top: 5px;
    content: " ";
    display: inline-block;
    width: 3px;
    height: 16px;
    border-radius: var(--radius-m);
    background-color: var(--color-orange);
}

.markdown-preview-view h2::before {
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 6px;
    position: relative;
    content: " ";
    display: inline-block;
    width: 3px;
    height: 16px;
    border-radius: var(--radius-m);
    background-color: var(--color-orange);
}


.is-live-preview .HyperMD-header .cm-header.cm-header-3 {
    padding-left: 6px;
}

.is-live-preview .HyperMD-header-3::before {
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    top: 5px;
    content: " ";
    display: inline-block;
    width: 3px;
    height: 16px;
    border-radius: var(--radius-m);
    background-color: var(--color-yellow);
}

.markdown-preview-view h3::before {
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 6px;
    position: relative;
    content: " ";
    display: inline-block;
    width: 3px;
    height: 16px;
    border-radius: var(--radius-m);
    background-color: var(--color-yellow);
}

.is-live-preview .HyperMD-header .cm-header.cm-header-4 {
    padding-left: 6px;
}

.is-live-preview .HyperMD-header-4::before {
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    top: 5px;
    content: " ";
    display: inline-block;
    width: 3px;
    height: 16px;
    border-radius: var(--radius-m);
    background-color: var(--color-green);
}

.markdown-preview-view h4::before {
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 6px;
    position: relative;
    content: " ";
    display: inline-block;
    width: 3px;
    height: 16px;
    border-radius: var(--radius-m);
    background-color: var(--color-green);
}

.is-live-preview .HyperMD-header .cm-header.cm-header-5 {
    padding-left: 6px;
}

.is-live-preview .HyperMD-header-5::before {
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    top: 5px;
    content: " ";
    display: inline-block;
    width: 3px;
    height: 16px;
    border-radius: var(--radius-m);
    background-color: var(--color-blue);
}

.markdown-preview-view h5::before {
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 6px;
    position: relative;
    content: " ";
    display: inline-block;
    width: 3px;
    height: 16px;
    border-radius: var(--radius-m);
    background-color: var(--color-blue);
}

.is-live-preview .HyperMD-header .cm-header.cm-header-6 {
    padding-left: 6px;
}

.is-live-preview .HyperMD-header-6::before {
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    top: 5px;
    content: " ";
    display: inline-block;
    width: 3px;
    height: 16px;
    border-radius: var(--radius-m);
    background-color: var(--color-purple);
}


.markdown-preview-view h6::before {
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 6px;
    position: relative;
    content: " ";
    display: inline-block;
    width: 3px;
    height: 16px;
    border-radius: var(--radius-m);
    background-color: var(--color-purple);
}


/*view-header*/
body:not(.is-mobile) .workspace-leaf-content[data-type="markdown"] .view-header,
body:not(.is-mobile) .workspace-leaf-content[data-type="empty"] .view-header {
    border-bottom: none;
    background-color: var(--background-primary) !important;
    position: absolute;
    top: 12px;
    right: 0px;
    z-index: var(--layer-cover);
    border: 1px solid var(--background-modifier-border);
    border-radius: var(--radius-m);
    padding: 0 6px;
    height: 36px;
    gap: 0px;
    opacity: 0.4;
}

body:not(.is-mobile) .workspace-leaf-content[data-type="markdown"] .view-header:hover,
body:not(.is-mobile) .workspace-leaf-content[data-type="empty"] .view-header:hover {
    opacity: 1;
    transition: opacity 200ms;
}


body:not(.is-mobile) .workspace-leaf-content[data-type="markdown"] .view-header-title,
body:not(.is-mobile) .workspace-leaf-content[data-type="empty"] .view-header-title,
body:not(.is-mobile) .workspace-leaf-content[data-type="markdown"] .view-header-title-container,
body:not(.is-mobile) .workspace-leaf-content[data-type="empty"] .view-header-title-container {
    display: none;
}

body:not(.is-mobile) .workspace-leaf-content[data-type="empty"] .view-actions,
body:not(.is-mobile) .workspace-leaf-content[data-type="markdown"] .view-actions {
    display: flex;
}

/*.workspace-leaf-content[data-type="markdown"] .view-header-nav-buttons{
    margin-right: 0px;
}*/


/*Compatible with view-header*/

body:not(.is-mobile) .document-search-container {
    padding: 12px 0;
    margin: 0px;
}

body:not(.is-mobile) .graph-controls.is-close {
    width: fit-content;
    position: absolute;
    left: 12px;
}

body:not(.is-mobile) .graph-controls {
    position: absolute;
    left: 12px;
}


/*hide nav-folder-title*/
.nav-folder.mod-root>.nav-folder-title {
    display: none;
}

/*nav-buttons left align*/
.nav-buttons-container {
    display: flex;
    justify-content: flex-start;
}



/* ui color change*/
.workspace-tab-header-container {
    background-color: var(--background-primary);
}

body:not(.is-translucent) .mod-left-split .mod-top .workspace-tab-header-container {
    background-color: var(--background-secondary);
}

body:not(.is-translucent) .sidebar-toggle-button.mod-left {
    background-color: var(--background-secondary);
}

.workspace-ribbon.mod-left.is-collapsed .sidebar-toggle-button.mod-left {
    background-color: var(--tab-container-background);
}

.mod-right-split .view-content,
.mod-right-split .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
    background-color: var(--background-primary);
}

.sidebar-toggle-button,
.workspace-tabs.mod-top {
    --tab-container-background: var(--background-primary);
}

.is-hidden-frameless:not(.is-fullscreen) .titlebar-button-container.mod-right {
    background-color: var(--background-primary);
}

.titlebar-button {
    background-color: var(--background-primary);
}

body.is-focused .sidebar-toggle-button,
body.is-focused .workspace-tabs.mod-top {
    --tab-container-background: var(--background-primary);
}